/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
!/tmp/pids
/tmp/pids/*
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/.env
/.env.*
!/.env.example
.bundle/
vendor/bundle/
*.rbc
/public/assets
/coverage/
spec/examples.txt
.DS_Store
